extends layout2

block content
    section.auction
        //each player in data
        .container
            .span4
                img.img-right(src="/assets/images/U_out.png")
            center
                h1.center-block players of !{spl} category are soldout
                h2.center-block Congratulations well played....
