doctype html
html
    block vars
    head
        //include head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title TSS Premier League
        meta(name='keywords' content='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.')
        meta(name='description' content='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' href='/assets/fonts/flat-icon/flaticon.css')
        link(rel='stylesheet' href='/css/style.css')
        style.
            .span4 img {
                margin-right: 10px;
            }
            .span4 .img-right{
                float: right;
            }
            .span4 .img-left {
                float: left;
                width:320px;
                height:240px;
            }

            .span4 .img-right {
                float: right;
            }
            .span4 .img-bottom{
                float:right;

                right: 10px;
                bottom: 10px
            }
        style.
            * {
                box-sizing: border-box;
            }

            .column3 {
                float: left;
                width: 50%;
                padding: 25px;

            }
            /* Create four equal columns that floats next to each other */
            .column3 {
                float: left;
                width: 33%;
                padding: 33px;
                height: 1100px; /* Should be removed. Only for demonstration */
            }

            .column50 {
                float: left;
                width: 50%;
                padding: 25px;

            }

            .column2 {
                float: left;
                width: 25%;
                padding: 25px;

            }
            .column {
                float: left;
                width: 25%;
                padding: 25px;
                height: 1100px; /* Should be removed. Only for demonstration */
            }

            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }

            .maa {
                margin: 20px;
                font-size: 4em;
                font-family: courier;
            }

            .saa {
                margin: 20px;
                font-size: 3em;
                font-family: courier;
            }

            .paa {
                display: inline-block;
                margin: 0 5px 0;
                color: white;
                background-color: black;
                border-radius: 50px;
                width: 70px;
                height: 70px;
                line-height: 70px;
                text-align: center;
                cursor: pointer;
            }

    body
        header.header
            .container
                nav.navbar
                    .navbar-header
                        button.navbar-toggle(type='button' data-toggle='collapse' data-target='#myNavbar')
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='#')
                    #myNavbar.collapse.navbar-collapse
                        ul.nav.navbar-nav.pull-right
                            li
                                a(href='index.html') HOME
                            li
                                a(href='/registered') REGISTERED
                            li
                                a(href='/team') TEAMS
                            li
                                a(href='search.html') AUCTION
                            li
                                a(href='tel:97979') CONTACT
                            li
                                img(src="/assets/images/crickettrophy.png")
            //include header
            block content
            //include team
            include footer
            block js