doctype html
html
    block vars
    head
        //include head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title TSS Premier League
        meta(name='keywords' content='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.')
        meta(name='description' content='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' href='/assets/fonts/flat-icon/flaticon.css')
        link(rel='stylesheet' href='/css/style.css')
        style.
            .span4 img {
                margin-right: 10px;
            }

            .span4 .img-left {
                float: left;
            }

            .span4 .img-right {
                float: right;
            }

    body
        #content-wrapper
            include header
            block content
            //include team
            include footer
            block js