extends layout2

block content
    section.page-section
        //- var text = JSON.stringify(data,null,2,100).replace(/\n/g, '<br>')
        .row
            .column(style='background-color:#add;')
                h2 Batsman
                hr
                each player in batsman
                    p !{player}
            .column(style='background-color:#ddd;')
                h2 Bowler
                hr
                each player1 in bowler
                    p !{player1}
            .column(style='background-color:#add;')
                h2 Allrounder
                hr
                each player2 in allrounder
                    p !{player2}
            .column(style='background-color:#ddd;')
                h2 Wicketkeeper
                hr
                each player3 in wk
                    p !{player3}