extends layout2

block content
    section.auction
        //each player in data
        .container
            .span4
                h1.center-block !{player} is bought by Team !{team} for !{amt}
                h2.center-block Congratulations....
                center
                    img.img-left(src="/assets/images/sports-and-competition.png", )
