extends layout2

block content
    section.auction
        //each player in data
        .container
            .span4

                center
                    h1.center-block !{player} is bought by Team !{team} for !{amt} Crores
                    img(src="/assets/images/sports-and-competition.png", )
                    h2.center-block Congratulations well played....

