section.team.team--bg
    .container
        .page-section
            .text-center
                h2.page-section__title Our team
                .team__title-style
                    span.first-line
                    span.second-line
                p.page-section__subtitle This is the core organizing Team of TSS Premier League
            .row.gutters-80
                .col-md-4
                    .thumbnail.team__single
                        .bio.text-center
                            img(src='assets/images/testimonial4.png' alt='')
                            h2 SRK, RBCCPS Dept
                            p UX/UI Designer
                        .caption
                            p Crazy Cricket Lover and KK&apos;s biggest critic
                            .social-icons
                                li
                                    a(href='#')
                                        i.flaticon-facebook-letter-logo
                                li
                                    a(href='#')
                                        i.flaticon-twitter-logo-silhouette
                                li
                                    a(href='#')
                                        i.flaticon-google-plus
                                li
                                    a(href='#')
                                        i.flaticon-pinterest-logo
                .col-md-4
                    .thumbnail.team__single
                        .bio.text-center
                            img(src='assets/images/testimonial3.png' alt='')
                            h2 John Doe, US
                            p UX/UI Designer
                        .caption
                            p goutham needs Yoyo Test.
                            .social-icons
                                li
                                    a(href='#')
                                        i.flaticon-facebook-letter-logo
                                li
                                    a(href='#')
                                        i.flaticon-twitter-logo-silhouette
                                li
                                    a(href='#')
                                        i.flaticon-google-plus
                                li
                                    a(href='#')
                                        i.flaticon-pinterest-logo
                .col-md-4
                    .thumbnail.team__single
                        .bio.text-center
                            img(src='assets/images/team3.png' alt='')
                            h2 Johnny Depp, Singapoor
                            p UX/UI Designer
                        .caption
                            p I am batsman... I am bowler.. I am SRK
                            .social-icons
                                li
                                    a(href='#')
                                        i.flaticon-facebook-letter-logo
                                li
                                    a(href='#')
                                        i.flaticon-twitter-logo-silhouette
                                li
                                    a(href='#')
                                        i.flaticon-google-plus
                                li
                                    a(href='#')
                                        i.flaticon-pinterest-logo