section.team.team--bg
    .container
        .page-section
            .text-center
                h2.page-section__title Our team
                .team__title-style
                    span.first-line
                    span.second-line
                p.page-section__subtitle This is the core organizing Team of TSS Premier League
            .row.gutters-80
                .col-md-4
                    .thumbnail.team__single
                        .bio.text-center
                            img(src='assets/images/srk.jpeg' alt='')
                            h2 SRK, RBCCPS
                            p UX/UI Designer
                        .caption
                            p Crazy Cricket Lover and KK&apos;s biggest critic
                            .social-icons
                                li
                                    a(href='#')
                                        i.flaticon-facebook-letter-logo
                                li
                                    a(href='#')
                                        i.flaticon-twitter-logo-silhouette
                                li
                                    a(href='#')
                                        i.flaticon-google-plus
                                li
                                    a(href='#')
                                        i.flaticon-pinterest-logo
                .col-md-4
                    .thumbnail.team__single
                        .bio.text-center
                            img(src='assets/images/rohit.jpeg' alt='')
                            h2 Rohit, DESE
                            p Captain
                        .caption
                            p Gowtham needs Yoyo Test.
                            .social-icons
                                li
                                    a(href='#')
                                        i.flaticon-facebook-letter-logo
                                li
                                    a(href='#')
                                        i.flaticon-twitter-logo-silhouette
                                li
                                    a(href='#')
                                        i.flaticon-google-plus
                                li
                                    a(href='#')
                                        i.flaticon-pinterest-logo
                .col-md-4
                    .thumbnail.team__single
                        .bio.text-center
                            img(src='assets/images/kalki.jpeg' alt='')
                            h2 Kalki, DESE
                            p UX/UI Designer
                        .caption
                            p I am batsman... I am bowler.. I am SRK
                            .social-icons
                                li
                                    a(href='#')
                                        i.flaticon-facebook-letter-logo
                                li
                                    a(href='#')
                                        i.flaticon-twitter-logo-silhouette
                                li
                                    a(href='#')
                                        i.flaticon-google-plus
                                li
                                    a(href='#')
                                        i.flaticon-pinterest-logo